/*Couleurs*/
$color-primary:  #3282F7;
$color-secondary: #68D9A4;
$color-tertiary:  #ED6454;
$color-logo: #D04F4F;
$color-search:  #E7E7E7;
$color-background-picture:  #C7BEBE;
$color-black:  #000000;
$color-white:  #FFFFFF;

/*Font-familly*/
$logo-recipes : 'Roboto', sans-serif;
$texte: 'Lato', sans-serif;

/*Weigth*/
$regular: 400;
$solid: 700;
