.select-area{
    display: flex;        
}

.select-container{
    position: relative;
}

.select-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    height: 69px;
    border-radius: 5px;
    padding: 23px 15px;
    cursor: pointer;
    &_title{
        font-family: $texte;
        font-weight: 700;
        font-size: 18px;
        color: $color-white
    }
    &_arrow{
        color: $color-white;
        font-size: 18px;
    }
}

.primary{
    background-color: $color-primary;
    color: $color-white;    
    border-radius: 5px;
}
.primary-hover{
    background-color: $color-primary;
    &:hover{        
        background-color: lighten($color-primary, 10%);
    }
    &:focus{        
        background-color: darken($color-primary, 10%);
    }
}

.secondary{
    background-color: $color-secondary;
    color: $color-white; 
    border-radius: 5px; 
}
.secondary-hover{
    background-color: $color-secondary;
    &:hover{        
        background-color: lighten($color-secondary, 10%);
    }
    &:focus{        
        background-color: darken($color-secondary, 10%);
    }
}

.tertiary{
    background-color: $color-tertiary;
    color: $color-white; 
    border-radius: 5px;
}
.tertiary-hover{
    background-color: $color-tertiary;
    &:hover{        
        background-color: lighten($color-tertiary, 10%);
    }
    &:focus{        
        background-color: darken($color-tertiary, 10%);
    }
}

.list-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    padding: 15px;

    &_input{
        width: 100%;
        margin: 1em;
        border: none;
        outline: none;
        color: $color-white;
        font-family: $texte;
        font-weight: 700;
        font-size: 18px;
    }
    &_arrow{
        color: $color-white;
        transform: rotate(180deg);
        font-size: 18px;
        cursor: pointer;
    }
    
}

.list-area{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;    
    border-radius: 5px;
    position: absolute;
    top: 76px;
    width: 667px;
    &_items{
        color: $color-white;
        font-family: $texte;
        font-size: 18px;
        margin-right: 20px;
        line-height: normal;
        cursor: pointer;
        margin-bottom: 10px;
    }
}

.list-container{    
    display: none;
    width: 667px;
}