.container-tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

.tags-container{
    display: flex;
    margin: 0px 5px 15px 0;
    padding: 1%;
    align-items: center;
    display: none;
    &_text{
        font-family: $texte;
        font-weight: 700;
        margin-right: 10px;
    }
    &_cross{
        cursor: pointer;
        color: white;
        text-decoration: none;
        &_hover{
            color: darken($color: $color-white, $amount: 50) !important;
        }
    }
}